Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/ksinknight.xcuserdatad/xcschemes/Pods-Tracker.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ksinknight.xcuserdatad/xcschemes/Pods-TrackerTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ksinknight.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/ksinknight.xcuserdatad/xcschemes/YandexMobileMetrica.xcscheme
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-acknowledgements.markdown
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-acknowledgements.plist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-dummy.m
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-frameworks.sh
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-Info.plist
Pods/Target Support Files/Pods-Tracker/Pods-Tracker-umbrella.h
Pods/Target Support Files/Pods-Tracker/Pods-Tracker.debug.xcconfig
Pods/Target Support Files/Pods-Tracker/Pods-Tracker.modulemap
Pods/Target Support Files/Pods-Tracker/Pods-Tracker.release.xcconfig
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests-acknowledgements.markdown
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests-acknowledgements.plist
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests-dummy.m
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests-Info.plist
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests-umbrella.h
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests.debug.xcconfig
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests.modulemap
Pods/Target Support Files/Pods-TrackerTests/Pods-TrackerTests.release.xcconfig
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks-input-files.xcfilelist
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks-output-files.xcfilelist
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks.sh
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica.debug.xcconfig
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica.release.xcconfig
Pods/YandexMobileMetrica/helper
Pods/YandexMobileMetrica/LICENSE.md
Pods/YandexMobileMetrica/README.md
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
